<div class="modal-header">
    <h4 class="modal-title">{{ headerModal  }} 
        <span *ngIf="withIdTrip">{{IdTrip}}</span>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div  class="modal-body">
    <ng-container *ngIf="showSpinner">
        <nexus-spinner-loading [idName]="'reasonsOptions'"></nexus-spinner-loading>
    </ng-container>
    <div  id="reasonsOptions" class="optionsReasons">
        <div>
            <form [formGroup]="reasonsOptionsForm"  (ngSubmit)="onSubmit()">
                <div class="radioGroupBig">
                    <div *ngFor="let data of lstOptions" title="{{data.description}}"
                        class="ellipsis-text inputRadioGroupBig">
                        <input id="{{data.id}}" type="radio" formControlName="idReason" value="{{data.id}}" (click)="selectOption(data)">
                        <label for="{{data.id}}"> {{data.description}}</label>
                    </div>
                </div>
                <div class="radioGroupBig">
                    <textarea  *ngIf="commentEnabled" type="text" formControlName="commentReason" class="form-control commentReason" name="commentReason"
                        placeholder="Motivos"></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-primary"  [disabled]="!reasonsOptionsForm.valid || (reasonsOptionsForm.get('commentReason')?.value?.length! <= 0 && commentEnabled)"
      (click)="requestService()" (keyup.enter)="requestService()">Opciones </button>

  </div>