<div>
    <div class="modal-body">
        <nexus-mt-header [trip]="trip"></nexus-mt-header>
        <!-- {{trip.id}}  -->
        body
        <!-- <nexus-mt-footer [trip]="trip" [route]="modalTripContans.routeToUse(trip.id)" ></nexus-mt-footer> -->
    </div>
    
    <div class="modal-footer">
        footer
    </div>
</div>
<!-- 

<a *ngIf="lblShorcut" class="float-shortcut-large" style="margin-left: 5px;">- {{lblShorcut}}</a>
<button
    id="btnStructured" [ngStyle]="Style" [ngClass]="Class!" 
    title="{{tittle}}" [disabled]="disabled" (click)="clickOnChange($event)">
    <i *ngIf="showSpinner" class="fa fa-spinner fa-spin" ></i>
    {{label}}
</button> -->

