.search{
    height: 50px;
    font-size: 20px;
    border: 0;
    border-bottom: 1px solid gray;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 0 0 gray;
}

.fa-icon{
    height: 50px; 
    font-size: 30px;
}