.btn-Destino {
    margin: 0% 2% 2% 4%;
    width: 50%;
    text-overflow: hidden;
}

.textarea {
    background: white;
}

.textarea-gray {
    background: rgb(204, 203, 203);
}

.btn-quitar {
    border-radius: 2px;
    height: 30px;
    width: 30px;
    padding: 3px;
    margin-left: 0%;
}

.btn-quitar-Destino {
    border-radius: 2px;
    height: 25px;
    width: 25px;
    padding: 1px;
    margin: 2% 2% 2% 0%;
}

.btn-quitar-Destino span {
    margin-left: 2%;
}

.padding-input {
    margin-left: 5px;
    margin-bottom: 5px;
}

.padding-bottom {
    margin-bottom: 10px;
}

.show-Info-destino {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
}

.margin-top-lbl {
    margin-top: 5px;
}

.edit-direction {
    fill: #000000;
}

.background-input {
    background-color: var(--variable-Empresa-super-soft);
    margin: 4% 2% 4% 0%;
    width: 94%;
}

.alinear-botones {
    margin-left: 3%;
}

.input-style {
    margin: 2% 2% 2% 0%;
    width: 92%;
    margin: 2%;
    align-items: center;
}

.agregar-destino-container {
    padding: 0%;
}