.container-group-header {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: var(--variable-Empresa-super-soft);
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    padding: 6px 15px 6px 15px ;
}

.container-group-body {
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 15px 15px 15px 15px ;
}