<div class="div-load spinner-loading" [ngStyle]="cambiarStilo()">
    <!-- <div class="div-load spinner-loading"> -->
        <div class="div-load" [ngStyle]="cambiarStilo()">
            <div class="placeholder_logo">
                <img src="assets/images/chat-png.png"/>
            </div>
            <span class="placeholder_header">{{'CONDUCTOR_MENSAJE_COMPONENT.CHAT_TO_CONVERSATION.plh_EMPTY_TITLE' | translate}}</span>
            <p class="placeholder_subheader">{{'CONDUCTOR_MENSAJE_COMPONENT.CHAT_TO_CONVERSATION.plh_EMPTY_SUB_TITTLE' | translate }}
            </p>
        </div>