<div class="grid" style="justify-content:center;align-items:center;margin-top: 30px;">
	<div class="card p-fluid">
		<h5>Financing and Pricing</h5>
		<div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Name of condo complex:</label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Management company contact info:</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
		<div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">On site management company contact info:</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Monthly hoa:  </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">What is included:  </label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Community ammenities:</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Garage ownership? </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Pin number: </label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Garage # or space # </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Guest parking:</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2"> Percent interest in common elements?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Rentals allowed? si/no </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Pets allowed? si/no </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Type:</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>		
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Limitations/count/weight:  </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2"> Move in/move out fess? </label>
				<input pInputText id="name2" type="text" />
			</div>

		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Moving date rules and restrictions:</label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Board approval needed? Y or N on contract or individual?
                 </label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Is there a waiver right of first refusal needed?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Fha approved? Si/no</label>
				<textarea pInputTextarea></textarea>
			</div>
            <div class="field col">
				<label htmlFor="name2">Expires When?</label>
				<textarea pInputTextarea></textarea>
			</div>
		</div>		
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Rules por signs and lockbox:</label>
				<textarea pInputTextarea></textarea>
			</div>
		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Open house rules:</label>
				<textarea pInputTextarea></textarea>
			</div>
		</div>		
        <!-- button -->
		<div class="p-formgrid grid">
            
			<div class="field col">
                <p-button [routerLink]="['/form/new-home']" label="Back" icon="pi pi-arrow-left" iconPos="left"></p-button>

			</div>
			<div class="field col">
				<p-button  label="Save" icon="pi pi-arrow-right" iconPos="left"></p-button>
			</div>

		</div>
	</div>

</div>