<div class="grid" style="justify-content:center;align-items:center;margin-top: 30px;">
	<div class="card p-fluid">
		<h5>Financing and Pricing</h5>
		<div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Have you arranged financing yet? </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Do you need assistance? </label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
		<div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Have you been pre-qualified, preapproved, or otherwise informed 
                    as to what your maximium purchase amount is?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">If yes, hat amount have you been-quealified or pre-approved for?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Will your financial company issue a pre-qualification/pre-approval
                    letter stating this amount?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Loan officer contact information:</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Attorney contact information:</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Do you have enough funds in your account to cover earnest money?
                    (typicall 1% of purchase price?)</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">What monthly payment range would you fell comfortable with?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>		
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Conventional loan? </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Fha loan? </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2"> Va loan? </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Cash?</label>
				<input pInputText id="name2" type="text"/>
			</div>
		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Do you have pets?</label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">If so, how many and what kind?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Do you or any of your family members require any specific home features?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">If yes, please specify</label>
				<textarea pInputTextarea></textarea>
			</div>
		</div>			
        <!-- button -->
		<div class="p-formgrid grid">
            
			<div class="field col">
                <p-button [routerLink]="['/form/new-home']" label="Back" icon="pi pi-arrow-left" iconPos="left"></p-button>

			</div>
			<div class="field col">
				<p-button  [routerLink]="['/form/company-form']" label="Left" icon="pi pi-arrow-right" iconPos="left"></p-button>
			</div>

		</div>
	</div>

</div>