<div class="grid" style="justify-content:center;align-items:center;margin-top: 30px;">
	<div class="card p-fluid">
		<h5>New Home</h5>
		<div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Where do you want to buy a property?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
		<div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Is there a specific school or school district you want?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">What style home would you prefer?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">How many bedroms/bathrooms?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Is a master bathroom important to you?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Are stairs acceptable?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Do you want a basement?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>		
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Do you want first floor laundry? </label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Fireplace?</label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Office?</label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">Garage spaces?</label>
				<input pInputText id="name2" type="text"/>
                <label for="">Attached/detached</label>
			</div>
		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Do you have pets?</label>
				<input pInputText id="name2" type="text" />
			</div>
            <div class="field col">
				<label htmlFor="name2">If so, how many and what kind?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">Do you or any of your family members require any specific home features?</label>
				<input pInputText id="name2" type="text" />
			</div>
		</div>	
        <div class="p-formgrid grid">
			<div class="field col">
				<label htmlFor="name2">If yes, please specify</label>
				<textarea pInputTextarea></textarea>
			</div>
		</div>			
        <!-- button -->
		<div class="p-formgrid grid">
            
			<div class="field col">
                <p-button [routerLink]="['/form/general-info']" label="Back" icon="pi pi-arrow-left" iconPos="left"></p-button>

			</div>
			<div class="field col">
				<p-button [routerLink]="['/form/pricing']" label="Next" icon="pi pi-arrow-right" iconPos="left"></p-button>
			</div>

		</div>
	</div>

</div>